<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882147279928-lpedq8c9use9toflua07c2mlt3ji424i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882147279928-lpedq8c9use9toflua07c2mlt3ji424i</string>
	<key>API_KEY</key>
	<string>AIzaSyAgbqVPQMnLGYJ9aQM0qRT62ImhUBYw_Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>882147279928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastaApp</string>
	<key>PROJECT_ID</key>
	<string>fastaapp-3e39a</string>
	<key>STORAGE_BUCKET</key>
	<string>fastaapp-3e39a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882147279928:ios:62e71739153014bb4c12cd</string>
</dict>
</plist>